.cart-container {
    padding: 1rem;
    margin: 5px;
    margin-top: 90px;
    align-items: center;
    text-align: center;
    border: 2px solid black;
    background-color: #e7e310;
    color: #000000;
    display: flex; /* A침adido: cambia el contenedor a flex */
    flex-direction: column; /* A침adido: los items se alinear치n verticalmente */
  }
  
  .cart-item {
    display: flex; 
    flex-direction: row; /* Los elementos dentro de cada cart-item se alinean horizontalmente */
    justify-content: space-between; /* Esto sigue funcionando para separar nombre, precio y bot칩n */
    align-items: center;
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: 1px solid #000000;
    border-radius: 5px;
    
  }
  
  .cart-item p {
    margin: 0 5px; /* Esto agrega espacio entre el nombre y el precio */
  }
  
  .remove-button {
    background-color: #ff2600;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 5px;
    margin: 3px;
  }
  
  .remove-button:hover {
    background-color: #8f1e0d;
  }
  
  .Tit {
    color: #e78a10;
  }
  .close-button {
    background-color: transparent;
    color: black;
    border: 1px 0 black;
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 10%;
    
  }
  
  .close-button:hover {
    background-color: rgb(243, 117, 117);
  }
  .order-button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 0.7rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 1rem;
    width: 100%; /* Ocupa todo el ancho */
    text-align: center;
  }
  
  .order-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .order-button:hover:not(:disabled) {
    background-color: #45a049;
  }
  